<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script></body>
      <script>
            window.haptikInitSettings = {
    "business-id": "3997",
    "client-id": "f072a92a1e6be2ce1b7380a86ef8b810da91db82",
    "base-url": "https://staging.hellohaptik.com/",
    'widget-positioning': "bottom-right",
    "initialize-language":"id"
};
/*document.addEventListener('haptik_sdk', function() {

HaptikSDK.signup({
              username: 'Priya singh',
              auth_code: '5e5e02e4-62c3-4c9b-a239-913d92536cdc',
              mobile_no: '123456789',
              email: 'self1@yopmail.com',
              }, function(success,error) {
              if (success) {
              console.log('SIGNUP REQUEST SUCCEEDED!');
              } else {
              console.log('ERROR:',error);
              }
              });});*/
             
          </script>
        
        
        
        
          <script
            type="text/javascript"
            charset="UTF-8"
            src="https://toolassets.haptikapi.com/platform/javascript-xdk/production/loader.js"
          
          ></script>
          
      </html>